<article class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="article-metadata">
    {{ if .Params.publication }}
      <div><strong>{{ .Params.publication }}</strong></div>
    {{ end }}
  </div>

  <h3 class="article-title" itemprop="name">
    {{ if .Params.url_pdf }}
      <a href="{{ .Params.url_pdf }}" target="_blank" rel="noopener">{{ .Title }}</a>
    {{ else }}
      {{ .Title }}
    {{ end }}
  </h3>

  {{ with .Params.abstract }}
    <div class="pub-abstract" itemprop="description">
      <em>{{ . }}</em>
    </div>
  {{ end }}

  {{ with .Params.links }}
    <div class="btn-links mt-2">
      {{ range . }}
        <a class="btn btn-sm btn-outline-primary" href="{{ .url }}">{{ .name }}</a>
      {{ end }}
    </div>
  {{ end }}
</article>
